#formDiv
{
  display: block;
  text-align: center;
}


.searchForm {

  display: inline-block;
  text-align: center;
  background: #AAA;
  padding: 4em 4em 2em;
  max-width: 400px;
  box-shadow: 0 0 1em #222;
  border-radius: 5px;
  margin : 0 auto;

}

.searchForm p {
  margin: 0 0 3em 0;
  position: relative;
  padding: 1em;
}

.searchForm p.error {
  border: 1px solid #ffa3a3;
  border-radius: 1em;
  padding: 1em;
  background: #ffe5e9;
}
.error input {
  color: red;
}

label {
  display: block;
  font-size: 1.6em;
  margin: 0 0 .5em;
  color: #333;
}
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none
}
input[type="text"],
input[type="password"] {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  font-size: 1.6em;
  padding: .8em .5em;
  border-radius: 5px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background: #fff
}
.formSpan {
  border-radius: 5px;
  display: none;
  font-size: 1.3em;
  text-align: center;
  position: absolute;
  background: #2F558E;
  left: 105%;
  top: 25px;
  width: 160px;
  padding: 7px 10px;
  color: #fff;
}
span:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #2F558E;
  border-width: 8px;
  margin-top: -8px;
}
input[type="submit"] {
  background: #2F558E;
  box-shadow: 0 3px 0 0 #1D3C6A;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2em;
  line-height: 1.6em;
  margin: 2em 0 0;
  outline: none;
  padding: .8em 0;
  text-shadow: 0 1px #68B25B;

}