

/********************************
PAGE: SMALL DEVICE
*********************************/
@media screen and (max-width: 481px){

  /********************************
  PAGE: Home
  *********************************/
  #intro{
    /*margin-left: 5em;*/
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
  }


  /********************************
  PAGE: Result
  *********************************/
  #gallery {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #gallery li {
    background-color: #f5f5f5;
    float: none;
    font-size: 1em;
  }

  #houseImage img {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #houseStats {
    float:left;
    width: 30%;
    margin-left: 7.5%;
  }

  #housePrice {
    float:right;
    width: 50%;
  }

  /********************************
  PAGE: Home
  *********************************/
  #resultNF{
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
  }

}


/*********************************/
/* PAGE: Fullsize
/**********************************/

@media screen and (min-width: 482px)
{
  /********************************
    HEADER
  *********************************/
  nav
  {
    background: none;
    float: right;
    font-size: 1.5em;
    margin-right: 5%;
    width: 45%;
  }
  
  #logo
  {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1
  {
    font-size: 2.5em;
  }
  
  h2
  {
    font-size: 1em;
    margin-bottom: 15px;
  }
  
  header
  {
    border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
  }

  /********************************
  PAGE: Home
  *********************************/
  #intro{
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
  }


  /********************************
  PAGE: RESULT
  *********************************/
  #gallery
  {
    padding: 0;
    list-style: none;
  }

  #gallery li
  {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.5%;
    background-color: #f5f5f5;
    color: black;
    float: left;
    font-size: 1.5em;
  }

  #houseImage {
    float: left;
    width:33%;
  }

  #houseStats {
    float: left;
    width:33%;
  }

  #housePrice {
    float: left;
    width:33%;
  }

  /********************************
  PAGE: Result Not Found
  *********************************/
  #resultNF{
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
  }



}






