
{% extends "public/html/layout.html" %}

{% block content %}

<div id="intro">
    <a>FlatDNA is a free share house room valuation tool made to help you find the best possible deal, find your new room today</a>
</div>

{% endblock %}