<!DOCTYPE html>
<html>
<head>
    <meta charset ="utf-8">
    <title>FlatDNA | Flatmates Analytics Service</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="../css/form.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    <a href="index.html" id="logo">
        <h1>FlatDNA </h1>
        <h2>Share House Room Price Estimator</h2>
    </a>
    <nav>
        <ul class="navItems">
            <li><a href="/">Home</a></li>
            <li><a href="search">Search</a></li>
            <li><a href="result">Result</a></li>
        </ul>
    </nav>
</header>
<body>
{% block content %}

{% endblock %}
<footer>
    <p>&copy; 2018 Dean Enterprises.</p>
</footer>
<script src="../javascript/layout.js" type="text/javascript" charset="utf-8"></script>
<script src="../javascript/form.js" type="text/javascript" charset="utf-8"></script>
<script src="../javascript/result.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>