{% extends "public/html/layout.html" %}

{% block content %}
<section>
    <ul id="gallery">
        {% for room in rankedRoomArray %}
        <li>
            <div id = "container">
                <div id ="houseImage">
                    <a href = "{{ room.url }}">
                        <img src="{{ room.image }}" alt="">
                    </a>
                </div>
                <div id ="houseStats">
                    <p>Bedrooms: {{ room.flatmates}} </p>
                    <p>Bathrooms: {{room.bathroom}} </p>
                    <p>Bills Included: {{ room.billsIncluded | replace("0", "no") | replace("1", "yes") }} </p>
                </div>
                <div id ="housePrice">
                    <p>Price: {{ room.price}} </p>
                    <p>Estimated Price: {{ room.predictedPrice }} </p>
                    <p id="difference">Difference: {{ room.difference }} </p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

