{% extends "public/html/layout.html" %}
{% block content %}
    <div id="formDiv">
      <form class= "searchForm" action="result" method="post">
        <p>
          <label for="suburb">Suburb</label>
          <input id="suburb" name="suburb" type="text">
          <span class="formSpan">Please enter letters and spaces only</span>
        </p>
        <p>
          <label for="postcode">Postcode</label>
          <input id="postcode" name="postcode" type="text">
          <span class="formSpan">The postcode must be four digit's only</span>

          <input type="submit" />
        </p>
      </form>
    </div>
{% endblock %}
